.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 850px;
    background-color: rgb(174 208 138);
}
.item1{
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;      
    font-size: larger;
}
.item2{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-bottom: 5px;
}
.item3{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}


@media (max-width: 768px) {
  .container {
    height: auto;
    padding: 20px 0;
  }

  .item2 {
    flex-direction: column;
    align-items: center;
  }

  .item3 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .item3 img {
    width: 150px;
    height: auto;
  }

  .item1 h2 {
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .container {
    height: auto;
    padding: 30px 0;
  }

  .item2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .item3 {
    gap: 5px;
  }

  .item3 img {
    width: 170px;
    height: auto;
  }

  .item1 h2 {
    font-size: 30px;
  }
}
